@media screen and (max-width: 1200px) {
  body {
    font-size: 1.6rem;
  }

  /*********************************/
  /* HEADER */
  /*********************************/
  .logo {
    height: 6rem;
    padding: 2rem 0 0 2rem;
  }
  header h1 {
    font-size: 3.5;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }

  /*********************************/
  /* NAVIGATION*/
  /*********************************/
  .navbar__container {
    height: 9.5rem;
  }
  .navbar__item {
    height: 9.5rem;
  }
  .navbar__item .navbar__links .navbar__btn {
    padding: 0;
  }
  /*********************************/
  /* section6 */
  /*********************************/

  .input__namelastname {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 1.6rem;
  }
  header img {
    position: relative;
    top: 0;
  }
  /*********************************/
  /* NAVIGATION*/
  /*********************************/
  .navbar__menu {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: -100rem;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    background: #fff;
  }
  .navbar__item {
    color: #000;
    height: 5rem;
    padding: 0;
  }
  .navbar__item--flex {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }

  .navbar__menu.active {
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  .navbar__toggle .bar {
    width: 2.5rem;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__links:link,
  .navbar__links:visited {
    color: #000;
    text-align: center;
    padding: 0;
    width: 100%;
    display: table;
  }
  .navbar__links:hover,
  .navbar__links:active {
    background-color: #2e4247;
    color: #fff;
    transition: all 0.3 ease;
    text-decoration: none;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /*********************************/
  /* Footer*/
  /*********************************/

  .Footer__section8 {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 1.6rem;
  }

  /*********************************/
  /* NAVIGATION*/
  /*********************************/
  .navbar__menu {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: -100rem;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    background: #fff;
  }
  .navbar__item {
    color: #000;
    height: 5rem;
    padding: 0;
  }
  .navbar__item--flex {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }

  .navbar__menu.active {
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  .navbar__toggle .bar {
    width: 2.5rem;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__links:link,
  .navbar__links:visited {
    color: #000;
    text-align: center;
    padding: 0;
    width: 100%;
    display: table;
  }
  .navbar__links:hover,
  .navbar__links:active {
    background-color: #2e4247;
    color: #fff;
    transition: all 0.3 ease;
    text-decoration: none;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /**********************************/
  /* Des statisques ou section4*/
  /*********************************/
  .chartTextLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
  .chartTextLink__cont {
    width: 100%;
  }
  .chartTextLink__cont__item strong {
    font-size: 3rem;
    font-weight: 700;
  }
  /*********************************/
  /* Témoignage ou section5*/
  /*********************************/
  .entete__text {
    width: 100%;
    text-align: center;
  }
  .quatrecolimgtexticon__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }

  /*********************************/
  /* section6 */
  /*********************************/
  .map {
    width: 100%;
    position: relative;
  }

  #form {
    width: 90%;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #c9c9c9;
  }
  .input__namelastname {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /*********************************/
  /* Footer*/
  /*********************************/

  .Footer__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 1rem;
  }
  .Footer__section8 {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 3rem;
  }
}

@media screen and (max-width: 570px) {
  body {
    font-size: 1.6rem;
  }

  /*********************************/
  /* Header */
  /*********************************/

  header h1 {
    font-size: 3.5;
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  /*********************************/
  /* NAVIGATION*/
  /*********************************/

  .navbar__menu {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: -100rem;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    background: #fff;
  }
  .navbar__item {
    color: #000;
    height: 5rem;
    padding: 0;
  }
  .navbar__item--flex {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }

  .navbar__menu.active {
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  .navbar__toggle .bar {
    width: 2.5rem;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__links:link,
  .navbar__links:visited {
    color: #000;
    text-align: center;
    padding: 0;
    width: 100%;
    display: table;
  }
  .navbar__links:hover,
  .navbar__links:active {
    background-color: #2e4247;
    color: #fff;
    transition: all 0.3 ease;
    text-decoration: none;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /*********************************/
  /* Trimeck ou Section1*/
  /*********************************/

  /*********************************/
  /* Logiciel ou Section2*/
  /*********************************/
  .inputBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .inputBtn__input {
    padding: 2rem 6rem 2rem 1rem;
  }
  .textBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .text--large {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
  }
  .troiscolimgtext {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  /*********************************/
  /* Clients ou Section3*/
  /*********************************/
  .gallery {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  .gallery img:hover {
    transform: scale(1);
    transition: all 0.4s;
  }

  /*********************************/
  /* Des statisques ou section4*/
  /*********************************/
  .chartTextLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
  .chartTextLink__cont {
    width: 100%;
  }
  .chartTextLink__cont__item strong {
    font-size: 3rem;
    font-weight: 700;
  }
  /*********************************/
  /* Témoignage ou section5*/
  /*********************************/
  .entete__text {
    width: 100%;
    text-align: center;
  }
  .quatrecolimgtexticon__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  /*********************************/
  /* section6 */
  /*********************************/
  .map {
    width: 100%;
    position: relative;
  }

  #form {
    width: 90%;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #c9c9c9;
  }
  .input__namelastname {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /*********************************/
  /* Footer*/
  /*********************************/

  .Footer__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .Footer__section8 {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 3rem;
  }
}
