@import "variable";

/*********************************/
/*Logiciel ou Section2*/
/*********************************/

.textCont {
  text-align: justify;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.inputBtn {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.inputBtn__input {
  padding: 0 6rem 0 1rem;
}
.imgBtn {
  padding: 4rem;
  background-color: #d9d9d9;
  margin: 5rem 0 0 0;
}
.imgBtn__img {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.imgInput__img img {
  width: 40%;
  height: 5rem;
}
.inputBtn__btn,
.imgBtn__btn {
  padding: 1.5rem 6rem;
  border-radius: 1.5rem;
  background-color: #545454;
  color: #fff;
}
.text--large {
  font-size: 4rem;
  font-weight: 700;
  width: 40%;
  margin: 8rem auto 8rem auto;
}
.text--medium {
  width: 40%;
  margin: 0 auto 8rem auto;
  text-align: center;
}
.troiscolimgtext {
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid #000;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
}
.troiscolimgtext__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.troiscolimgtext__item img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.troiscolimgtext__item h3 {
  margin-bottom: 2rem;
}
.troiscolimgtext__item p {
  text-align: center;
}
