@import "variable";

/*********************************/
/* NAVIGATION */
/*********************************/

.navbar {
  font-size: 1.8rem;
  z-index: 999;
}
%navflex {
  display: flex;
  justify-content: space-between;
}
.navbar__container {
  @extend %navflex;
  height: 8rem;
  z-index: 1;
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
}
.navbar__menu {
  @extend %navflex;
  gap: 2rem;
  position: relative;
  list-style: none;
  top: 2rem;
}

.navbar__item {
  height: 20rem;
  padding: 0 1rem 0 1rem;
}
.navbar__item--flex {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.navbar__links {
  text-decoration: underline;
}
.navbar__links:link,
.navbar__links:visited {
  height: 100%;
  width: max-content;
  transition: all 0.3s ease;
  text-decoration: underline;
  color: $color-text-header_footer;
  font-weight: 500;
  font-size: 1.7rem;
  padding: 0 1rem;
}

.navbar__links:hover,
.navbar__links:active {
  transition: all 0.3s ease;
  text-decoration: none;
  color: #2e4247;
}

.navbar__logo {
  cursor: auto;
}
